.blackBackground {
    -fx-background-color: black;
    -fx-background-repeat: no-repeat;  
}
.curtainsBackground {
    -fx-background-image: url("images/curtains.png");
    -fx-background-repeat: no-repeat;  
}
.ezzieBig {
    -fx-background-image: url("images/ezzie.png");
    -fx-background-repeat: no-repeat;
}
.bennyBig {
    -fx-background-image: url("images/benny.jpeg");
    -fx-background-repeat: no-repeat;
}
.quinnBig {
    -fx-background-image: url("images/quinn.png");
    -fx-background-repeat: no-repeat;
}
.estraladaAd {
    -fx-background-image: url("images/curtains.png");
    -fx-background-repeat: no-repeat;
}
.reading {
    -fx-background-image: url("images/ezzie-reading.png");
    -fx-background-repeat: no-repeat;
}
.drawing {
    -fx-background-image: url("images/ezzie-reading.png");
    -fx-background-repeat: no-repeat;
}
.beaches {
    -fx-background-image: url("images/beaches.png");
    -fx-background-repeat: no-repeat;
}
.bandy {
    -fx-background-image: url("images/bandy.png");
    -fx-background-repeat: no-repeat;
}